{% extends "core/base.html" %}

{% block title %}Regjistrimi yt u krye{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center w-full bg-green-200 p-4 my-4 rounded-md max-[426px]:p-6 max-[426px]:mt-8 max-[426px]:text-center">
    <h1 class="text-emerald-600 text-6xl font-bold my-8 max-[321px]:text-5xl">Regjistrimi juaj u krye me sukses</h1>
    <p class="text-emerald-400 text-xl font-semibold my-8 max-[321px]:text-lg">Regjistrimi juaj u ruajt dhe do merrni përgjigje nga ne  <span class="text-emerald-600 animate-pulse">shpejtë.</span></p>
    <a href="{% url 'core:index' %}" class="my-2 mb-8 outline-none border-none text-lg px-6 py-2 font-semibold text-white bg-teal-500 rounded-lg transition-all duration-300 ease-in-out hover:bg-teal-700">
        Kthehu pas
    </a>
</div>
{% endblock %}