{% extends 'core/base.html' %}

{% block title %}Courses | Puddle{% endblock %}

{% block content %}
<div class="mt-12 py-6 px-6 flex flex-col justify-center items-center">
	<h1 class="my-2 text-3xl font-semibold text-white">COURSES</h1>
	<p class="text-sm text-gray-500 font-thin mb-12">Mesoni programimin me kurse te vecanta live.</p>
	<div class="w-24 bg-gray-500 rounded-xl h-1"></div>
</div>

<div class="col-span-3">
	<div class="grid grid-cols-4 gap-4">
	{% for course in courses %}
		<div class="hover:transform hover:scale-105 transition-transform">
			<a class="#">
				<div>
					<img src="{{ course.image.url}}" class="rounded-t-xl image-fit" />
				</div>

				<div class="p-6 bg-gray-800 rounded-b-xl">
					<h2 class="text-xl my-2">{{ course.name }}</h2>
					<p class="my-4 text-gray-500 text-sm">{{ course.content }}</p>

					<form>
						<button class="outline-none border-none rounded-xl p-2 text-xs text-blue-500 bg-black">#{{ course.category }}</button>
					</form>
				</div>
			</a>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}