{% extends "dashboard/base.html" %}

{% block title %}Lab Score Data{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64 flex flex-col justify-center items-center"> 
    <h1 class="text-3xl my-2 font-semibold italic mb-14">Data model for all the Lab Score Data</h1>

    <div class="w-3/4 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Lab Score Data
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">All the user lab score data published on the site from the admin or the agent.</p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quiz
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Score
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Attempts
                    </th>
                </tr>
            </thead>
            {% if labScore_data %}
                <tbody>
                    {% for item in labScore_data %}
                        <tr class="text-gray-900 bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.user }}
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.quiz }}
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.score }}
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.attempts }}
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}