{% extends "dashboard/base.html" %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64 flex flex-col justify-center items-center">
    <div class="col-md-8 mt-6 left w-full">
        {% for post in post_list %}
            <div class="bg-gray-200 rounded-xl p-7 w-3/4 mb-6 max-[768px]:w-full">
                <div>
                    <h2 class="mb-2 text-2xl font-semibold">{{ post.title }}</h2>
                    <p class="mb-4 text-md font-thin text-gray-600">{{ post.author }} | {{ post.created_at }}</p>
                    <p class="mb-8 text-lg font-semibold text-gray-500">{{ post.content|slice:":200" }}</p>	
                    <div class="flex items-center justify-between">
                        <a class="text-white font-semibold cursor-pointer outline-none border-none rounded-xl p-3 bg-blue-500 font-semibold transition-all duration-300 ease-in-out hover:bg-blue-700 focus:bg-blue-700" href="{% url 'dashboard:detail' slug=post.slug %}">Read More</a>
                        {% if request.user == post.author %}
                            <a class="text-white font-semibold cursor-pointer outline-none border-none rounded-xl p-3 bg-red-500 font-semibold transition-all duration-300 ease-in-out hover:bg-red-700 focus:bg-red-700" href="{% url 'dashboard:delete' post.id %}">Delete</a>
                        {% endif %}
                    </div>	
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}